<h1><%= @band.name%> </h1>

<a class="button info" href="/bands/<%= @band.id %>/edit">Edit</a>

<% if @band.venues().any?() %>
  <ul>
    <% @band.venues().each() do |venue| %>
      <li><%= venue.location() %></li>
    <% end %>
  </ul>
<% else %>
  <h3>There are no known venues for this band. Add them from the Venues page.</h3>
<% end %>

<form class="" action="/bands/<%= @band.id %>/venues/add" method="post">
  <select class="" name="venue_id">
    <% @venues.each() do |venue| %>
      <option value="<%= venue.id() %>"><%= venue.location() %></option>
    <% end %>
  </select>
  <button>Submit</button>
</form>
